.Mega label {
  margin-right: 10px;
}

.Mega button {
  font-size: 1.6rem;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #222;
  color: #fff;
  cursor: pointer;
}
.Mega input {
  font-size: 1.4rem;
  width: 50px;
}
