.TabelaProdutos table {
  width: 100%;
}

.TabelaProdutos th {
  background-color: #283cae;
  color: #fff;
}

.TabelaProdutos .Par {
  background-color: #a0a0a0;
}

.TabelaProdutos .Impar {
  background-color: #ccc;
}
